
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
body {
  margin: 0;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
 max-width: 100%; 
}
.App{
  width: 100vw;
  height: 100vh;
  background: #faf9fb;
  overflow-x: hidden;
}
.App::-webkit-scrollbar{
  display: none;
}
.list.active .icon{
  color: white !important;
  transform: translateY(-36px);
}
.indicator{
  display: none;
}
li.list:nth-child(1).active ~ .indicator{
  transform: translateX(calc(60px * 0));
  display: block;
}
li.list:nth-child(2).active ~ .indicator{
  transform: translateX(calc(60px * 1));
  display: block;
}
li.list:nth-child(3).active ~ .indicator{
  transform: translateX(calc(60px * 2));
  display: block;
}
li.list:nth-child(4).active ~ .indicator{
  transform: translateX(calc(60px * 3));
  display: block;
}
li.list:nth-child(5).active ~ .indicator{
  transform: translateX(calc(60px * 4));
  display: block;
}
li.list:nth-child(6).active ~ .indicator{
  transform: translateX(calc(60px * 5));
  display: block;
}
.rightMenu{
  display:none;
}

.rightMenu.active{
  display:flex;
}
.menuCard.active{
  background: #f8901c!important;
}
.menuCard:hover > h3{
  color: white!important;
}

.menuCard.active > h3{
  color: white!important;
}
.rightMenu{
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
.debitCard::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8901c;
  transform: rotate(5deg);
  border-radius: 15px;
  filter: blur(2px);
  z-index: -2;
}

.debitCard::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 15px;
  backdrop-filter: blur(10px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
